@model BasicCRUDWeb1.Models.Employee

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<div class="demo-section">
    <div id="validation-success"></div>
    @(Html.Kendo().Form<BasicCRUDWeb1.Models.Employee>()
        .Name("CreateFormEmployee")
        .HtmlAttributes(new { action = @Url.Action("Create", "Employee"), method = "POST" })
        .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(false));
        })
        .Items(items =>
        {
            items.AddGroup()
                .Label("Create Form Employee")
                .Items(i =>
                {
                    i.Add()
                         .Field(f => f.UserID)
                         .Label(l => l.Text("Mã nhân viên:"));
                    i.Add()
                        .Field(f => f.UserName)
                        .Label(l => l.Text("Tên nhân viên:"));
                    i.Add()
                        .Field(f => f.Password)
                        .Label(l => l.Text("Password:"))
                        .Hint("Hint: enter alphanumeric characters only.")
                        .EditorTemplateHandler("setPasswordEditor");
                    i.Add()
                        .Field(f => f.Email)
                        .Label(l => l.Text("Email:"));
                    i.Add()
                       .Field(f => f.Tel)
                       .Label(l => l.Text("Số điện thoại:"));
                    i.Add()
                        .Field(f => f.Disable)
                        .Label(l => l.Text("Disable:"));
                });
        })
        .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
    )
</div>

<script>
    function setPasswordEditor(container, options) {
        $('<input type="password" id="Password" name="' + options.field + '" title="Password" required="required" autocomplete="off" aria-labelledby="Password-form-label" data-bind="value: Password" aria-describedby="Password-form-hint"/>')
            .appendTo(container)
            .kendoTextBox();
    }

    function onFormValidateField(e) {
        $("#validation-success").html("");
    }

    function onFormSubmit(e) {
        e.preventDefault();
        $("#validation-success").html("<div class='k-messagebox k-messagebox-success'>Form data is valid!</div>");
    }

    function onFormClear(e) {
        $("#validation-success").html("");
    }
</script>
