@model IEnumerable<BasicCRUDWeb1.Models.Employee>

@{
    ViewBag.Title = "Employee";
}

<h2>List of Employees</h2>

<p class="my-2">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<div class="container">
    <div class="row">
        @(Html.Kendo().Grid<BasicCRUDWeb1.Models.Employee>()
                   .Name("Employee")
                   .Columns(col =>
                   {
                       col.Bound(o => o.UserID).Title("Mã nhân viên").Width(50);
                       col.Bound(o => o.UserName).Title("Tên nhân viên").Width(70);
                       col.Bound(o => o.Email).Width(70);
                       col.Bound(o => o.Tel).Title("Số điện thoại").Width(70);
                       col.Bound(p => p.Disable).ClientTemplate("" +
                           "<div class=''>" +
                           "    <a href='Employee/Edit' class='btn btn-info text-white'>Edit</a>" +
                           "    <a href='Employee/Detail' class='btn btn-warning text-white'>Detail</a>" +
                           "    <a href='Employee/Delete' class='btn btn-danger text-white'>Delete</a>" +
                           "</div>")
                            .Title("Actions").Width(80);
                   })
                   //Lỗi TelerikSVG version
                   //.ToolBar(toolbar => toolbar.Columns())
                   //.Pageable()
                   //.Filterable()
                   .Sortable()
                   .Scrollable()
                   .HtmlAttributes(new { style = "height:430px;" })
                   .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(p => p.UserID);
                          model.Field(p => p.UserName).Editable(false);
                          model.Field(p => p.Email).Editable(false);
                          model.Field(p => p.Tel).Editable(false);
                      })
                      .Read(read => read.Action("Employee_Read",
                         "Employee"))
                    )
                )
    </div>
</div>

@*<div id="ordersGrid"></div>*@

<script>
    //fetch("http://localhost:57900/Employee/Employee_Read")
    //    .then(response => response.json())
    //    .then(data => {
    //        var gridDataSource = new kendo.data.DataSource({
    //            data: data.Data,
    //            schema: {
    //                model: {
    //                    fields: {
    //                        UserID: { type: "string" },
    //                        UserName: { type: "string" },
    //                        Email: { type: "email" },
    //                        Tel: { type: "string" },
    //                    }
    //                }
    //            },
    //            pageSize: 10,
    //        });

    //        $("#ordersGrid").kendoGrid({
    //            dataSource: gridDataSource,
    //            height: 450,
    //            pageable: true,
    //            sortable: true,
    //            filterable: true,
    //            columns: [{
    //                field: "UserID",
    //                title: "User ID",
    //                width: 70
    //            }, {
    //                field: "UserName",
    //                width: 70,
    //            }, {
    //                field: "Email",
    //                width: 70,
    //            }, {
    //                field: "Tel",
    //                title: "Số diện thoại",
    //                width: 70,
    //            }, {
    //                template: `
    //                <div>
    //                    <button class='btn btn-info text-white'>
    //                        <span class=''>Edit</span>
    //                    </button>
    //                    <button class='btn btn-danger k-button k-button-md k-rounded-md k-button-solid k-button-solid-base customDelete'>
    //                        <span class=''>Delete</span>
    //                    </button>
    //                </div>
    //                `,
    //                title: "Actions",
    //                width: 100,
    //            }]
    //        });
    //    });

</script>