@model IEnumerable<BasicCRUDWeb1.Models.Employee>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Employee";
}

<h2>List of Employees</h2>

<p class="my-2">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>


        @(Html.Kendo().Grid<BasicCRUDWeb1.Models.Employee>()
               .Name("Employee")
               .Columns(col =>
               {
                   col.Bound(o => o.UserID).Title("Mã nhân viên").Width(50);
                   col.Bound(o => o.UserName).Title("Tên nhân viên").Width(70);
                   col.Bound(o => o.Email).Width(70);
                   col.Bound(o => o.Tel).Title("Số điện thoại").Width(70);
                   col.Bound(p => p.Disable).ClientTemplate(
                        "<div class=''>" +
                        "    <a href='Employee/Edit/#: UserID #' class='btn btn-info text-white'>Edit</a>" +
                        "    <a href='Employee/Details/#: UserID #' class='btn btn-warning text-white'>Detail</a>" +
                        "    <a href='Employee/Delete/#: UserID #' class='btn btn-danger text-white'>Delete</a>" +
                        "</div>"
                       ).Title("Actions").Width(80);
               })
               .ToolBar(toolbar => toolbar.Create())
               .Editable(editable => editable.Mode(GridEditMode.PopUp))
               .Sortable()
               .Scrollable()
               .HtmlAttributes(new { style = "height:430px;" })
               .DataSource(dataSource => dataSource
                  .Ajax()
                  .Model(model =>
                  {
                      model.Id(p => p.UserID);
                      model.Field(p => p.UserName).Editable(false);
                      model.Field(p => p.Email).Editable(false);
                      model.Field(p => p.Tel).Editable(false);
                  })
                  .Read(read => read.Action("Employee_Read",
                     "Employee"))
                )
            )

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>