
@{
    ViewBag.Title = "Index";
}

<h2>List of Employees</h2>

<div class="text-center">
    <h2>Telerik UI DatePicker for ASP.NET Core</h2>
    @(Html.Kendo().DatePicker()
            .Name("my-picker")
        )
</div>

@(Html.Kendo().Grid <BasicCRUDWeb1.Models.Employee>()
        .Name("grid")
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Read(read => read.Action("Read", "Employee"))
        )
        .Columns(columns =>
        {
            columns.Bound(p => p.UserID);
            columns.Bound(p => p.UserName);
            columns.Bound(p => p.Password);
            columns.Bound(p => p.Email);
            columns.Bound(p => p.Tel);
            columns.Bound(p => p.Disable);
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .HtmlAttributes(new { style = "height:550px;" })
    )