<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="C1ApplicationTheme" value="VS2013Light" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="basicTestEntities" connectionString="metadata=res://*/Models.ModelEntities.csdl|res://*/Models.ModelEntities.ssdl|res://*/Models.ModelEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E9585J6;initial catalog=basicTest;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AdvancedDocking.Properties.Settings.basicTestConnectionString"
      connectionString="Data Source=DESKTOP-E9585J6;Initial Catalog=basicTest;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>